.nav-height {
    height: 60px;
    padding: 20px;
}

.jumbotron-container {
    height: 60vh;
}

.owl-carousel {
    cursor: grab;
}

.owl-next > span, .owl-prev > span {
    padding: 20px;
    font-size: 50px;
}