.nav-height {
    height: 60px;
    padding: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    --sb-track-color: #2d1527;
    --sb-thumb-color: #894076;
    --sb-size: 11px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
}
  
body::-webkit-scrollbar {
    width: var(--sb-size);
}
  
body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}
  
body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
}

.hidden {
    opacity: 0;
    transition: all 5s;
}

.show {
    opacity: 1;
}

header {
    background-image: url("https://r4.wallpaperflare.com/wallpaper/1000/732/59/spring-8k-uhd-8k-asia-wallpaper-537b330d7da97bf5cf764237b8cbd888.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.home {
    font-family: 'Dancing Script', cursive;
}

.jumbotron .mx-5 .btn {
    font-family: 'Montserrat', sans-serif;
}

.owl-next > span, .owl-prev > span {
    padding: 20px;
    font-size: 50px;
}

.daily-offer-image {
    background-image: url("https://images.unsplash.com/photo-1589452271712-64b8a66c7b71?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.card-container {
    max-width: 450px; /* Adjust the value according to your needs */
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 576px) {
    /* Adjust the height for small screens and above (sm and up) */
    .logo {
      height: 70px; /* Set the desired height for small screens and above */
    }
}

@media (min-width: 576px) and (max-width: 1024px) {
    /* Adjust the height for screens between 576px and 1024px (sm to lg) */
    .logo {
        height: 80px; /* Set the desired height for screens between 576px and 1024px */
    }
}

@media (min-width: 1024px) {
    /* Adjust the height for small screens and above (sm and up) */
    .logo {
      height: 90px; /* Set the desired height for small screens and above */
    }
}
